<table class="table table-hover">
  <thead>
    <tr><th>ID</th><th>User</th><th>Email</th></tr>
  </thead>
  <tbody id="user-tbody">
  {% for user in users %}
    {% include "_user_row.jinja2" %}
  {% endfor %}
  </tbody>
</table>
