<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}WebApp{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body class="container">
  <header class="p-4 bg-gray-800 text-grey">
    <h1 class="text-xl">WebApp</h1>
  </header>

    {% block content %}{% endblock %}

  
  <script src="/static/js/htmx.min.js"></script>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
